*{

    margin: 0;
    padding: 0;
    background-origin:border-box;
    overflow-x: hidden;
}
:root{
    --main-color: #969696;
    --second-color: #fff;
    --icon-color: #8E7754;
    --h-color: #303030;
    --p-color: #686868 ;
}
.parent{
    background-image: url(../imges/drew-coffman-1872.jpg);
    width: 100vw;height:100vh;
background-position: center;
background-size: cover;
}
.child{
    display: flex;
    align-items: center;
    gap: 600px;
    margin-top: 20px;
}
.img-nav{
    width: 200px;
    padding-left: 50px;
}

.item{
    display:flex;
    gap:20px;
    padding:0 50px;
    justify-content: end;
}
.item1 a{
    margin: 10px;
    text-decoration: none;
    font-size: larger;
    color: var(--second-color);

}

.item1 a:hover {
    color: var(--icon-color);
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center ;
    align-content: center;
    gap: 10px;
    margin-top: 200px;
    color: var(--second-color);
    
}
.content h1{
    font-size: 60px;
    padding: 20px;
}
.content p{
    text-align:center;
    padding: 10px;
    font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.button{
    display: flex;
    gap: 15px;
}
.button1{
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--icon-color);
    border-width: 2px;
    padding: 20px 30px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.button1:hover {
     background-color:white;
    color: var(--h-color);
}

.button2{
    text-decoration: none;
    color: var(--second-color);
    padding: 15px 35px ;
    border-radius: 5% ;
    border: 4px solid;
    -moz-border-radius: 5% ;
    -ms-border-radius: 5% ;
    -o-border-radius: 5% ;
    -webkit-border-radius: 5% ;
}
.button2:hover {
     background-color:var(--second-color);
     color:var(--h-color);
}
.second-part{
    display: flex;
    justify-content: center left;
}
.img-2{
    width: 500px;
   margin: 100px 50px 70px 50px;
}
.content2{
    flex-direction: column;
    margin-top: 90px;
    gap: 20px;
}
   .content2 h1{
        font-size: 30px;
}
    .content2 p{
        font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    gap: 10px;
}






